extends layout

block content

  .jumbotron
    h1 Switcheroo
    p.lead A place to exchange everything.

  .container

    <!-- Background Tiles -->
    h3 Hear what our customers have to say!

    br 

    .row
        .col-xs-6.col-md-4
            .tile.tile-caption-bg.tile-image-1
                span I got the perfect hair-dryer just in time for my wedding!
        .col-xs-6.col-md-4
            .tile.tile-caption-bg.tile-image-2
                span I got the perfect cat just in time for retirement!
        .col-xs-6.col-md-4
            .tile.tile-caption-bg.tile-image-3
                span I got the perfect costume just in time for halloween!

    hr