extends layout

block content
	h1= product.name
	hr 
	.row 
		img(src=product.imgUrl).thumbnail.col-sm-3
		.col-sm-8 
			if product.isBorrowed
				p This product is currently unavailable.
			h1= "$"+product.price
			p= product.description
			a(href='/products/'+product.productid_id+'/placeOrder').col-sm-3
				button.btn.btn.btn-primary(type='submit')
					i.fa.fa-plus
					| Borrow Product
		
		