extends layout

block content
	.row
		h3.col-sm-9 Products
		a(href='/addproduct').col-sm-3
			button.btn.btn.btn-primary(type='submit')
				i.fa.fa-plus
				| Add Product	

	hr

	.row 
		ul.list-unstyled
			each product, index in products
				li 
					.col-sm-3
						a(href="/products/" + index)
							h4= product.name 
						p= product.price
