extends layout

block content
	.row
		h3.col-sm-9 Products

	hr

	.row
		a(href='/addproduct').col-sm-3
				button.btn.btn.btn-primary(type='submit')
					i.fa.fa-plus
					| Add Product

	br
	
	.row
		ul.list-unstyled
			each product, index in products
				li 
					.col-sm-3
						a(href="/products/" + index)
							h4= product.name
						a(href="/products/" + index).thumbnail
							img(src=product.imgUrl)
						h5= "$" + product.price + "/day"
